* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --dark-blue-main-bg: hsl(217, 54%, 11%);
    --dark-blue-card-bg: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 37%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 1.8rem;
    font-family: 'Outfit', sans-serif;
    background-color: var(--dark-blue-main-bg);
    height: 100vh;
    display: grid;
    place-content: center;
}

#app {
    background-color: var(--dark-blue-card-bg);
    padding: 4.0rem;
    border-radius: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.nft-img img {
    width: 100%;
    border-radius: 1.6rem;
}

